{% extends "layouts/default.njk" %}

{% block content %}

  <main class="main">
  	<section class="about">
	    <div class="container">
	    	<ul class="about-list flex-container">

	    		<li class="about-item col-xs">
	    			<div class="about-item-header">
	    				<h4 class="title--small" >Portfolio</h4>
	    				<p>PHP, Ruby, JavaScript</p>
	    			</div>
	    			<div class="about-item-body">
							<ul>
								<li><b>NavalPlan</b>, PHP, Ruby</li>
								<li><b>MyTime</b>, Javascript</li>
								<li><b>Formidable</b>, PHP, Ruby</li>
								<li><b>MyTime</b>, Javascript</li>
								<li><b>Monsoon</b>, ActionScript</li>
							</ul>
	    			</div>
	    		</li>
					
					<li class="about-item col-xs">
	    			<div class="about-item-header">
	    				<h4 class="title--small">Experience</h4>
	    			</div>
	    			<div class="about-item-body">
							<ul>
								<li><b>PHP</b>, 6 years</li>
								<li><b>Ruby</b>, 7 years</li>
								<li><b>Javascript</b>, 4 years</li>
								<li><b>ActionScript</b>, 3 years</li>
							</ul>
	    			</div>
	    		</li>

					<li class="about-item about-item--img-preview col-xs">
	    			<div class="about-item-header">
	    				<h4 class="title--small">Sample code and algorithms</h4>
	    			</div>
	    			<figure class="about-item-img">
	    				<a href="images/code-example.jpg">
	    					<img src="images/code-example.jpg" alt="Code example">
	    				</a>
	    			</figure>
	    		</li>

	    		<li class="about-item about-item--groups col-xs">
						<div class="about-item-group">
							<div class="about-item-header">
		    				<h4 class="title--small">Availability</h4>
		    			</div>
		    			<div class="about-item-body">
								<p class="title--big text-center">Full-time</p>
		    			</div>
						</div>
						<div class="about-item-group">
							<div class="about-item-header">
		    				<h4 class="title--small">Preferred environment</h4>
		    			</div>
		    			<div class="about-item-body text-center">
								<span>Git, GitHub, vim, emacs, Jenkins, Mac OSX</span>
		    			</div>
						</div>
	    		</li>

					<li class="about-item col-xs">
	    			<div class="about-item-header">
	    				<h4 class="title--small">The most amazing …</h4>
	    			</div>
	    			<div class="about-item-body">
							<blockquote class="blockquote" cite="http://www.returnonintelligence.ru/company/leadership/alexander-kreymer/">
								<p><i>… Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua et dolore magna aliqua et dol ut labore et dolore</i></p>
								<div class="blockquote-footer">
									<p><b>-Martin</b></p>
								</div>
							</blockquote>
	    			</div>
	    		</li>
					
					<li class="about-item col-xs">
	    			<div class="about-item-header">
	    				<h4 class="title--small">In clients I look for …</h4>
	    			</div>
	    			<div class="about-item-body">
							<blockquote class="blockquote" cite="http://www.returnonintelligence.ru/company/leadership/alexander-kreymer/">
								<p><i>… Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</i></p>
								<div class="blockquote-footer">
									<p><b>-Martin</b></p>
								</div>
							</blockquote>
	    			</div>
	    		</li>
					
					<li class="about-item col-xs"></li>

					<li class="about-item col-xs">
	    			<div class="about-item-header">
	    				<h4 class="title--small">Note</h4>
	    			</div>
	    			<div class="about-item-body">
							<blockquote class="blockquote" cite="http://www.returnonintelligence.ru/company/leadership/alexander-kreymer/">
								<p><i>… Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua et dolore magna aliqua et dol ut labore et dolore</i></p>
							</blockquote>
	    			</div>
	    		</li>

	    	</ul>
	    </div>
    </section>
  </main>

{% endblock %}