<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CV</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="favicon.ico" />

    <!-- build:css(.tmp) styles/main.min.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body>
    
    <svg class="svg-sprite" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <symbol id="icon-success" class="icon-svg" viewBox="0 0 26 26">
        <g>
          <path class="icon-svg-letter" d="M 22.566406 4.730469 L 20.773438 3.511719 C 20.277344 3.175781 19.597656 3.304688 19.265625 3.796875 L 10.476563 16.757813 L 6.4375 12.71875 C 6.015625 12.296875 5.328125 12.296875 4.90625 12.71875 L 3.371094 14.253906 C 2.949219 14.675781 2.949219 15.363281 3.371094 15.789063 L 9.582031 22 C 9.929688 22.347656 10.476563 22.613281 10.96875 22.613281 C 11.460938 22.613281 11.957031 22.304688 12.277344 21.839844 L 22.855469 6.234375 C 23.191406 5.742188 23.0625 5.066406 22.566406 4.730469 Z "/>
        </g>
      </symbol>
      <symbol id="icon-close" class="icon-svg" viewBox="-0.5 -0.5 10 10">
        <path class="icon-svg-letter" fill-rule="evenodd" d="M8.353,7.646 L7.646,8.353 L4.500,5.207 L1.353,8.353 L0.646,7.646 L3.793,4.500 L0.646,1.353 L1.353,0.646 L4.500,3.793 L7.646,0.646 L8.353,1.353 L5.207,4.500 L8.353,7.646 Z"/>
      </symbol>
    </svg><!-- end .svg-sprite -->

    <header class="header">
      <div class="container">
        <div class="flex-container">
          <figure class="header-img col-xs">
            <img src="images/header.jpg" alt="John Smith">
          </figure>
          <div class="header-content flex-container bg-gray col-md">
            <div class="header-content-primary">

              <div class="header-content-editable">
                <h1 class="title--primary editable-field-js">John Smith</h1>
                <div class="form-group hidden">
                  <input type="text" class="form-control form-control--lg">
                  <div class="btn-group">
                    <div class="btn-group-item">
                      <button type="button" class="btn btn--rounded btn--rounded-md btn-edit-js btn-success-js">
                        <svg class="icon-svg icon-svg--md">
                          <use xlink:href="#icon-success"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="btn-group-item">
                      <button type="button" class="btn btn--rounded btn--rounded-md btn-edit-js btn-cancel-js">
                        <svg class="icon-svg icon-svg--md">
                          <use xlink:href="#icon-close"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div><!-- end .header-content-editable -->

              <div class="header-content-editable">
                <p class="editable-field-js"><b>Portland, Oregon, USA</b></p>
                <div class="form-group hidden">
                  <input type="text" class="form-control form-control--sm">
                  <div class="btn-group">
                    <div class="btn-group-item">
                      <button type="button" class="btn btn--rounded btn-edit-js btn-success-js">
                        <svg class="icon-svg">
                          <use xlink:href="#icon-success"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="btn-group-item">
                      <button type="button" class="btn btn--rounded btn-edit-js btn-cancel-js">
                        <svg class="icon-svg">
                          <use xlink:href="#icon-close"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div><!-- end .header-content-editable -->

              <div class="header-content-editable">
                <p class="editable-field-js"><b>English</b></p>
                <div class="form-group hidden">
                  <input type="text" class="form-control form-control--sm">
                  <div class="btn-group">
                    <div class="btn-group-item">
                      <button type="button" class="btn btn--rounded btn-edit-js btn-success-js">
                        <svg class="icon-svg">
                          <use xlink:href="#icon-success"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="btn-group-item">
                      <button type="button" class="btn btn--rounded btn-edit-js btn-cancel-js">
                        <svg class="icon-svg">
                          <use xlink:href="#icon-close"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div><!-- end .header-content-editable -->

              <ul class="tag-list">
                <li class="tag-item bg-black">
                  PHP
                  <button type="button" class="btn btn--rounded bg-danger btn-edit-js btn-remove-js">
                    <svg class="icon-svg fill-white">
                      <use xlink:href="#icon-close"></use>
                    </svg>
                  </button>
                </li>
                <li class="tag-item bg-black">
                  Ruby
                  <button type="button" class="btn btn--rounded bg-danger btn-edit-js btn-remove-js">
                    <svg class="icon-svg fill-white">
                      <use xlink:href="#icon-close"></use>
                    </svg>
                  </button>
                </li>
                <li class="tag-item bg-gray-dark">
                  JavaScript
                  <button type="button" class="btn btn--rounded bg-danger btn-edit-js btn-remove-js">
                    <svg class="icon-svg fill-white">
                      <use xlink:href="#icon-close"></use>
                    </svg>
                  </button>
                </li>
                <li class="tag-item bg-gray-light">
                  ActionScript
                  <button type="button" class="btn btn--rounded bg-danger btn-edit-js btn-remove-js">
                    <svg class="icon-svg fill-white">
                      <use xlink:href="#icon-close"></use>
                    </svg>
                  </button>
                </li>
              </ul><!-- end .tag-list -->

              <div class="header-content-editable header-content-editable--tag">
                <p class="editable-field-js editable-tag-js">Add skills</p>
                <div class="form-group hidden">
                  <input type="text" class="form-control form-control--md new-tag-js" placeholder="Add skills">
                  <div class="btn-group">
                    <div class="btn-group-item">
                      <select class="select select-skill-level-js">
                        <option value="1">Strong</option>
                        <option value="2">Medium</option>
                        <option value="3">Low</option>
                      </select> 
                    </div>
                    <div class="btn-group-item">
                      <button type="button" class="btn btn--rounded btn-edit-js btn-add-js">
                        <svg class="icon-svg">
                          <use xlink:href="#icon-success"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="btn-group-item">
                      <button type="button" class="btn btn--rounded btn-edit-js btn-cancel-js">
                        <svg class="icon-svg">
                          <use xlink:href="#icon-close"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div><!-- end .header-content-editable -->
            </div><!-- end .header-content-primary -->

            <div class="header-content-aside text-right">
              <button class="btn btn--primary btn-print-js">Print this page</button>
            </div>

          </div><!-- end .header-content -->
        </div><!-- end .flex-container -->
      </div><!-- end .container -->
    </header>

    <main class="main">
      <section class="about">
        <div class="container">
          <ul class="about-list flex-container">

            <li class="about-item col-xs">
              <div class="about-item-header">
                <h4 class="title--small" >Portfolio</h4>
                <p>PHP, Ruby, JavaScript</p>
              </div>
              <div class="about-item-body">
                <ul>
                  <li><b>NavalPlan</b>, PHP, Ruby</li>
                  <li><b>MyTime</b>, Javascript</li>
                  <li><b>Formidable</b>, PHP, Ruby</li>
                  <li><b>MyTime</b>, Javascript</li>
                  <li><b>Monsoon</b>, ActionScript</li>
                </ul>
              </div>
            </li>
            
            <li class="about-item col-xs">
              <div class="about-item-header">
                <h4 class="title--small">Experience</h4>
              </div>
              <div class="about-item-body">
                <ul>
                  <li><b>PHP</b>, 6 years</li>
                  <li><b>Ruby</b>, 7 years</li>
                  <li><b>Javascript</b>, 4 years</li>
                  <li><b>ActionScript</b>, 3 years</li>
                </ul>
              </div>
            </li>

            <li class="about-item about-item--img-preview col-xs">
              <div class="about-item-header">
                <h4 class="title--small">Sample code and algorithms</h4>
              </div>
              <figure class="about-item-img">
                <a href="images/code-example.jpg">
                  <img src="images/code-example.jpg" alt="Code example">
                </a>
              </figure>
            </li>

            <li class="about-item about-item--groups col-xs">
              <div class="about-item-group">
                <div class="about-item-header">
                  <h4 class="title--small">Availability</h4>
                </div>
                <div class="about-item-body">
                  <p class="title--big text-center">Full-time</p>
                </div>
              </div>
              <div class="about-item-group">
                <div class="about-item-header">
                  <h4 class="title--small">Preferred environment</h4>
                </div>
                <div class="about-item-body text-center">
                  <span>Git, GitHub, vim, emacs, Jenkins, Mac OSX</span>
                </div>
              </div>
            </li>

            <li class="about-item col-xs">
              <div class="about-item-header">
                <h4 class="title--small">The most amazing …</h4>
              </div>
              <div class="about-item-body">
                <blockquote class="blockquote" cite="http://www.returnonintelligence.ru/company/leadership/alexander-kreymer/">
                  <p><i>… Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua et dolore magna aliqua et dol ut labore et dolore</i></p>
                  <div class="blockquote-footer">
                    <p><b>-Martin</b></p>
                  </div>
                </blockquote>
              </div>
            </li>
            
            <li class="about-item col-xs">
              <div class="about-item-header">
                <h4 class="title--small">In clients I look for …</h4>
              </div>
              <div class="about-item-body">
                <blockquote class="blockquote" cite="http://www.returnonintelligence.ru/company/leadership/alexander-kreymer/">
                  <p><i>… Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</i></p>
                  <div class="blockquote-footer">
                    <p><b>-Martin</b></p>
                  </div>
                </blockquote>
              </div>
            </li>
            
            <li class="about-item col-xs"></li>

            <li class="about-item col-xs">
              <div class="about-item-header">
                <h4 class="title--small">Note</h4>
              </div>
              <div class="about-item-body">
                <blockquote class="blockquote" cite="http://www.returnonintelligence.ru/company/leadership/alexander-kreymer/">
                  <p><i>… Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua et dolore magna aliqua et dol ut labore et dolore</i></p>
                </blockquote>
              </div>
            </li>
          </ul><!-- end .about-list -->
        </div><!-- end .container -->
      </section>
    </main>

    <!-- build:js(.) scripts/vendor.min.js -->
    <!-- node:js -->

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <!-- endnode -->
    <!-- endbuild -->

    <!-- build:js(.tmp) scripts/main.min.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
    
  </body>
</html>
  