
// fonts
$font-primary-regular: 'PTSans-Regular', Helvetica, Arial, sans-serif;
$font-primary-bold: 'PTSans-Bold', Helvetica, Arial, sans-serif;

// colors
$color-primary: #4c4c4c;
$color-secondary: #fff;
$color-black: #000;
$color-gray: #e6e6e6;
$color-gray-dark: #5c5c5c;
$color-gray-light: #a2a2a2;
$color-danger: #e64759;

// transitions
$transition-primary: .3s;
